/** General **/

.track {
  display: none;
}

body {
  background-color: #dce0e8;
}

/** Heading **/


/** Questions **/

.questions h5 {
  margin-bottom: 20px;
}

.questions .row{
  margin-bottom: 50px;
}

.questions .form-check label {
  margin-left: 10px;
}

/** Result **/
.result h3{
  margin-bottom: 10px;
}

.result p {
  margin-bottom: 20px;
}
